<template>
  <div id="main-map">
    <vl-map :load-tiles-while-animating="true" :load-tiles-while-interacting="true"
      @click="mapClick" :controls="false"
    >
      <vl-view :zoom.sync="zoom" :center.sync="center" ref="view"></vl-view>

      <vl-layer-tile>
        <vl-source-osm></vl-source-osm>
      </vl-layer-tile>
      <vl-layer-tile>
        <vl-source-wms url="https://geoserver.carto.zone/geoserver/onta/wms" ref="bus_source"
          layers="onta:aquita_busroute" :extParams="layerParams"></vl-source-wms>
      </vl-layer-tile>
      <vl-layer-tile :visible="showStops">
        <vl-source-wms url="https://geoserver.carto.zone/geoserver/onta/wms"
          layers="onta:aquita_busstop" ></vl-source-wms>
      </vl-layer-tile>

      <vl-feature v-if="currentPosition !== null">
        <vl-geom-point :coordinates="currentPosition"></vl-geom-point>

        <vl-style-box>
          <vl-style-icon
            src="img/marker.png"
            :scale="0.4"
            :anchor="[0.5, 1]">
          </vl-style-icon>
        </vl-style-box>
      </vl-feature>
    </vl-map>
    <SearchBar @showSettings="settingsVisible = true" />
    <TrackBtn
      @currentPosition="currentPositionSet"
      @currentPositionFailed="currentPositionFailed"
      @currentPositionCleared="currentPositionCleared"
    />
    <BusList
      v-if="selectedBusRoutes.length > 0"
      :buses="selectedBusRoutes"
      @clearAll="selectedBusRoutes = []"
      @removeItem="removeSelectedBusRoute"
    />
    <SettingsMenu
      :visible="settingsVisible"
      :showStops="showStops"
      @hideSettings="settingsVisible = false"
      @toggleShowStops="showStops = !showStops"
    />
  </div>
</template>

<script>
import { fromLonLat } from 'ol/proj';
import { MAP_INITIAL_CENTER, MAP_INITIAL_ZOOM } from '@/settings';
import SearchBar from '@/components/SearchBar.vue';
import SettingsMenu from '@/components/SettingsMenu.vue';
import TrackBtn from '@/components/TrackBtn.vue';
import BusList from '@/components/BusList.vue';

export default {
  name: 'home',

  components: {
    SearchBar,
    SettingsMenu,
    TrackBtn,
    BusList,
  },

  data() {
    return {
      center: fromLonLat(MAP_INITIAL_CENTER),
      zoom: MAP_INITIAL_ZOOM,

      selectedBusRoutes: [],
      loading: false,
      settingsVisible: false,
      currentPosition: null,

      showStops: true,
    };
  },

  computed: {
    layerParams() {
      if (this.selectedBusRoutes.length === 0) {
        return { CQL_FILTER: "created_at >= '2018-01-01'" };
      }

      const ids = this.selectedBusRoutes.map(route => route.id.split('.')[1]).join(', ');

      return { CQL_FILTER: `id in (${ids})` };
    },
  },

  methods: {
    mapClick(event) {
      this.selectedBusRoutes = [];
      this.loading = true;

      const source = this.$refs.bus_source;

      const featureInfoUrl = source.getFeatureInfoUrl(
        event.coordinate,
        this.$refs.view.viewResolution,
        'EPSG:3857',
        {
          INFO_FORMAT: 'application/json',
          feature_count: 100,
        },
      );

      fetch(featureInfoUrl)
        .then(response => response.json())
        .then((json) => {
          this.selectedBusRoutes = json.features;
        })
        .catch(() => {
          this.loading = false;
        });
    },

    removeSelectedBusRoute(busId) {
      this.selectedBusRoutes = this.selectedBusRoutes.filter(route => route.id !== busId);
    },

    currentPositionSet(position) {
      this.currentPosition = fromLonLat(position.pos);

      if (position.isFirst) {
        this.center = this.currentPosition;
        this.zoom = 14;
      }
    },

    currentPositionFailed() {
      this.currentPosition = null;
    },

    currentPositionCleared() {
      this.currentPosition = null;
    },
  },
};
</script>

<style lang="scss" scoped>
#main-map {
  width: 100%;
  height: 100%;
}
</style>
