<template>
  <div id="settings-menu" :class="{ hidden: !visible }">
    <div class="overlay" @click="$emit('hideSettings')"></div>
    <div class="menu">
      <div class="menu-header">Onta</div>
      <div class="menu-body">
        <div class="menu-box">
          <div class="menu-item">
            <label>
              <span>Mostrar paradas</span>

              <input
                type="checkbox"
                :checked="showStops"
                @change="$emit('toggleShowStops')"
              />
              <i></i>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SettingsMenu',

  props: {
    visible: {
      type: Boolean,
      required: true,
    },

    showStops: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style lang="scss">
@import '../styles/variables.scss';

#settings-menu {
  color: $color-dark;

  .overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: black;
    opacity: 0.5;
    transition: opacity 0.5s;
  }

  .menu {
    width: 80vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow-y: auto;
    background-color: $color-clear;
    margin-left: 0;
    transition: margin-left 0.5s;

    .menu-header {
      height: $settings-menu-header-height;
      line-height: $settings-menu-header-height;
      font-size: $settings-menu-header-font-size;
      padding: 0 $settings-menu-padding-left;
      border-bottom: 1px solid darken($color-clear, 10%);
    }

    .menu-body {
      .menu-box {
        .menu-item {
          padding: 0 $settings-menu-padding-left;
          height: $settings-menu-item-height;
          line-height: $settings-menu-item-height;
          display: flex;

          label {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            > input {
              display: none;
            }

            i {
              padding: 2px;
              width: 40px;
              height: 20px;
              border-radius: 12px;
              transition: .25s .09s;
              position: relative;
              background: #d8d9db;
              box-sizing: initial;

              &:after {
                content: " ";
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                left: 2px;
                transition: 0.25s;
              }
            }

            > input:checked + i {
              background: #318ce7;
            }

            > input:checked + i:after {
              transform: translateX(20px);
            }
          }

        }
      }
    }
  }

  &.hidden {
    .overlay {
      display: none;
      opacity: 0;
    }

    .menu {
      margin-left: -$settings-menu-width;
    }
  }
}
</style>
